[submodule "StraitXPackages/Base"]
	path = StraitXPackages/Base
	url = https://github.com/StraitX/Base
[submodule "StraitXPackages/ImGui"]
	path = StraitXPackages/ImGui
	url = git@github.com:StraitX/ImGui.git
